#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 15em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 7em #646cffcc);
}

.logo.react:hover {
  filter: drop-shadow(0 0 7em #61dafbcc);
}


.card {
  padding: 1em;
}

html {
  --cursor-color: #ee572c
}

h1,
h2,
h3,
body {
  color: whitesmoke;
  font-weight: 500;
  font-family: Inter
}